<section class="experts">
  <div class="experts__container">
    <div class="experts__statistics statistics-experts">
      <div class="statistics-experts__block block">
        <div class="statistics-experts__block_item1 statistics-block-item">
          <div class="statistics-experts__value">2m</div>
          <div class="statistics-experts__name">Users</div>
        </div>
        <div class="statistics-experts__block_item2 statistics-block-item">
          <div class="statistics-experts__value">78</div>
          <div class="statistics-experts__name">Countries</div>
        </div>
        <div class="statistics-experts__block_item3 statistics-block-item">
          <div class="statistics-experts__value">10,000+</div>
          <div class="statistics-experts__name">Medical experts</div>
        </div>
      </div>
        <div class="statistics-experts__decor statistics-experts__decor1"></div>
        <div class="statistics-experts__decor statistics-experts__decor2"></div>
        <div class="statistics-experts__decor statistics-experts__decor3"></div>
    </div>
    <div class="experts__body body-experts">
      <div class="experts__info-block info-block">
          <h2 class="info-block__title">Talk to <span>experts.</span> </h2>
          <div class="info-block__text experts__info-block-text">Book appointments or submit queries into thousands of forums concerning health issues and prevention against noval Corona Virus.</div>
          <a class="info-block__button button">Features</a>
      </div>
      <div class="body-experts__video">
        <iframe src="https://www.youtube.com/embed/Q1yl7Or_log" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    
  </div>
</section>
